<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link href="css/style.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    
</head>
<body>
    <div id="page">
        <header>
        <nav>
        
        <ul>
        <li><a href=".">ツイッター</a></li>
        <li><a href=".">ツイートと返信</a></li>
        <li><a href=".">メディア</a></li>
        <li><a href=".">いいね!</a></li>
        
        </ul>
        </nav>
        </header>
        
    </div>
</body>


</html>