<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link href="css/style.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    
</head>
<body>
    
    <div id="pageB">
    <div id="pageb">
        
        <header>
        <nav>
        
        <ul>
        <li><a href=".">ホーム</a></li>
        <li><a href=".">話題を検索</a></li>
        <li><a href=".">通知</a></li>
        <li><a href=".">メッセージ</a></li>
        <li><a href=".">ブックマーク</a></li>
        <li><a href=".">リスト</a></li>
        <li><a href=".">プロフィール</a></li>
        <li><a href=".">メッセージ</a></li>
        <div id="paged">
        <li><%= link_to 'ツイートする', '/tweets/new' %></li>
        </div>
        </ul>
        </nav>
        </header>
        
    </div>
    </div>
    
    
</body>


</html>